body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 14px;
}

  #pimage{
      width: 80px;
  }
  
 #topbar{
    min-width: 500px;
 }

 #mainDiv{
    min-width: 500px;
 }

 .searchbtn{
     border-top-left-radius: 0px; 
     border-bottom-left-radius: 0px; 
 }

